@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

h1, h2, h3 {
	font-family: 'Satisfy';
	text-align: center;
	color: black;
}

body {
font-family: 'Lora';
font-size: 19px;
margin: 20px;
background: #dac8c8;
}

.titelQuestion{
	font-family: 'Lora';
	font-size: 28px;
	font-weight: 590;
}

/*Flip-Karte-Brownies*/

 .flipKarteBrownies {
	background-color: transparent;
	width: 300px;
	height: 300px;
	perspective: 1000px;
  }

  .flipKarteB {
	position: relative;
	width: 300px;
	height: 300px;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }

  .flipcard-imgs {
	width:300px;
	height:300px
 }

  .flipKarteBrownies:hover .flipKarteB{
	transform: rotateY(-180deg);
  }

  .flipKarteVorderseiteB, .flipKarteRueckseiteB {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  }

  .flipKarteRueckseiteB {
	background-color: #eee;
	color: black;
	text-align: center;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
  }


/*Flip-Karte-Russischer Zupfkuchen*/

.flipKarteRussischerZupfkuchen {
	background-color: transparent;
	width: 300px;
	height: 300px;
	perspective: 1000px;
  }

  .flipKarteRz {
	position: relative;
	width: 300px;
	height: 300px;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }


  .flipKarteRussischerZupfkuchen:hover .flipKarteRz{
	transform: rotateY(-180deg);
  }

  .flipKarteVorderseiteRz, .flipKarteRueckseiteRz {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  }

  .flipKarteRueckseiteRz {
	background-color: #eee;
	color: black;
	text-align: center;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
  }





  /*Flip-Karte-Erdbeerkuchen*/

.flipKarteErdbeerkuchen {
	background-color: transparent;
	width: 300px;
	height: 300px;
	perspective: 1000px;
  }

  .flipKarteEk {
	position: relative;
	width: 300px;
	height: 300px;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }


  .flipKarteErdbeerkuchen:hover .flipKarteEk{
	transform: rotateY(-180deg);
  }

  .flipKarteVorderseiteEk, .flipKarteRueckseiteEk {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  }

  .flipKarteRueckseiteEk {
	background-color: #eee;
	color: black;
	text-align: center;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
  }

/*Flip-Karten positionieren*/
.flipKarten{
	display: flex;
	margin-top: 100px;
	justify-content: space-around;
}

.jetztBackenBtn{
	cursor: pointer;
    height: 45px;
    width: 150px;
    border-radius: 5px;
    border-style: none;
    background-color:rgba(226, 198, 198, 0.8);
    color: rgb(255, 255, 255);
    font-weight:680;
    font-size: 18px;
}




/*Rezept-Container*/

 /*Modal (background) */
 .RezeptContainer {
	display: none; 
	position: fixed;
	z-index: 1; 
	padding-top: 50px; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: scroll; 
	background-color: rgba(0,0,0,0.6); 
  }

/*Überschrift*/
  .rezeptUeberschrift{
	  width: 800px;
	  margin: 0 auto;
	  margin-top: 150px;
  }
  

  /* Modal Content */
  .RezeptContent {
    position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
    border-radius: 20px;
	width: 65%;
    height: 82%;
  }

  .RezeptContent h2{
	margin-top: 1%;
  }

  .RezeptContent button{
	  background-color: #dac8c8;
	  border-radius: 4px;
	  border-style: none;
	  height: 22px;
	  width: 22px;
	  color: white;
	  cursor: pointer;
	  margin: 1%;
	  margin-top: 0%;
  }

  .stepButtons{
	  text-align: center;
	  margin-top: 2%;
  }

/*Divs stylen*/
#backschritteB{
	width: 85%;
	margin-left: 4%;
}

#bakschritteRz{
	width: 85%;
	margin-left: 4%;
}

#backschritteEK{
	width: 85%;
	margin-left: 4%;
}

.duBrauchst{
	margin-left: 100px;
	padding-top: 0px;
	margin-top: 1%;
}

/*Backschritte stylen*/
.zutaten{
position:center;
padding-left: 270px;
list-style: none;
margin-top:-2%;
}

.checkbox{
	height:16.5px;
	width: 16.5px;
	border-radius: 4px;
	cursor:pointer;
}
input {
    margin-right: 1%;
}


.zutatenListe{
	margin-top: 3%;
	list-style:none;
}

.beschreibungSchritt{
	margin-left: 3%;
	margin-top: 10%;
}

 

/* The Close Button */
.close {
cursor: pointer;
color:#dac8c8;
float: right;
margin-left: 0;
padding-left: 0;
margin-right: 20px;
font-size: 50px;
font-weight: 850;
}
